<h1>Skill Delete View</h1>

<%= link_to 'Delete', admin_skill_destroy_path(:id => @skill.id), :class => 'button radius tiny alert' %>
<%= link_to 'Edit', edit_admin_skill_path(@skill), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_resume_index_path, :class => 'button radius tiny' %>

<p>
  <strong>Description_fr:</strong>
  <%= @skill.description_fr %>
</p>

<p>
  <strong>Description_en:</strong>
  <%= @skill.description_en %>
</p>

<%= link_to 'Delete', admin_skill_destroy_path(:id => @skill.id), :class => 'button radius tiny alert' %>
<%= link_to 'Edit', edit_admin_skill_path(@skill), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_resume_index_path, :class => 'button radius tiny' %>
