<h1><%=t('admin.skills.show.title')%></h1>

<%= link_to t('admin.buttons.edit'), edit_admin_skill_path(@skill), :class => 'button radius tiny secondary' %>
<%= link_to t('admin.buttons.back'), admin_resume_index_path, :class => 'button radius tiny ' %>


<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1"><%=t('admin.language.fr')%></a></li>
  <li class="tab-title"><a href="#panel2"><%=t('admin.language.en')%></a></li>
</ul>

<div class="tabs-content">

  <div class="content contained active" id="panel1">

    <table>
      <tr>
        <td  class="cell1"><strong><%=t('activerecord.attributes.skills.description_fr')%>:</strong></td>
        <td  class="cell2"><%= @skill.description_fr.html_safe %></td>
      </tr>
    </table>

  </div>

  <div class="content contained" id="panel2">

    <table>
      <tr>
        <td  class="cell1"><strong><%=t('activerecord.attributes.skills.description_en')%>:</strong></td>
        <td  class="cell2"><%= @skill.description_en.html_safe %></td>
      </tr>
    </table>

  </div>

</div>

<%= link_to t('admin.buttons.edit'), edit_admin_skill_path(@skill), :class => 'button radius tiny secondary' %>
<%= link_to t('admin.buttons.back'), admin_resume_index_path, :class => 'button radius tiny ' %>