<h1>Edit Location View</h1>

<%= form_for(@location, url: admin_location_path) do |f| %>

    <div class="name_fr">
      <%= f.label :name_fr%>
      <%= f.text_field :name_fr %>
    </div>

    <div class="name_en">
      <%= f.label :name_en%>
      <%= f.text_field :name_en %>
    </div>

    <div class="main_image">
      <%= f.label :main_image%>
      <%= image_tag @location.main_image(:medium) %>
      <%= f.file_field :main_image %>
    </div>

    <div class="description_fr">
      <%= f.label :description_fr%>
      <%= f.text_area :description_fr, size: "60x12" %>
    </div>

    <div class="description_en">
      <%= f.label :description_en%>
      <%= f.text_area :description_en, size: "60x12" %>
    </div>

    <div class="submit">
      <%= f.submit :class => 'button radius tiny info' %>
    </div>
<% end %>


<div class="projects">
  <h1>Projects List</h1>

  <%= link_to 'New', new_admin_project_path(:location_id => @location.id), :class => 'button radius tiny success' %>

  <table class="small-12 columns">
    <thead>
    <tr>
      <th>Name fr</th>
      <th>Name en</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>
        <tr>
          <td><%= project.name_fr %></td>
          <td><%= project.name_en %></td>
          <td><%= link_to 'Show', admin_project_path(project), :class => 'button radius tiny info' %></td>
          <td><%= link_to 'Edit', edit_admin_project_path(project), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to 'Delete', admin_project_delete_path(project), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>