<div class="table-container">
  <h1><%=t('admin.locations.index.title')%></h1>
  <%= link_to t('admin.buttons.new'), new_admin_location_path, :class => 'button radius tiny success' %>
  <table>
    <thead>
    <tr>
      <th><%=t('activerecord.attributes.locations.name_fr')%></th>
      <th><%=t('activerecord.attributes.locations.name_en')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @locations.each do |location| %>
        <tr>
          <td><%= location.name_fr %></td>
          <td><%= location.name_en %></td>
          <td><%= link_to t('admin.buttons.show'), admin_location_path(location), :class => 'button radius tiny info' %></td>
          <td><%= link_to t('admin.buttons.edit'), edit_admin_location_path(location), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to t('admin.buttons.delete'), admin_location_delete_path(location), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>