<h1>New location entry</h1>

<%= form_for(@location, url: admin_locations_path) do |f| %>

    <div class="main_image">
      <%= f.label :main_image%>
      <%= f.file_field :main_image %>
    </div>

    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel1">Francais</a></li>
      <li class="tab-title"><a href="#panel2">Anglais</a></li>
    </ul>

    <div class="tabs-content">

      <div class="content contained active" id="panel1">

        <table>
          <tr><td class="cell1"><%= f.label :name_fr%></td>
            <td class="cell2"><%= f.text_field :name_fr %></td>
          </tr>
          <tr>
            <td class="cell1"><%= f.label :description_fr%></td>
            <td class="cell2"><%= f.text_area :description_fr, :class => 'ckeditor' %></td>
          </tr>
        </table>

      </div>

      <div class="content contained" id="panel2">

        <table>
          <tr>
            <td class="cell1"><%= f.label :name_en%></td>
            <td class="cell2"><%= f.text_field :name_en%></td>
          </tr>
          <tr>
            <td class="cell1"><%= f.label :description_en%></td>
            <td class="cell2"><%= f.text_area :description_en, :class => 'ckeditor' %></td>
          </tr>
        </table>

      </div>

    </div>


    <div class="submit">
      <%= f.submit :class => 'button radius tiny info' %>
    </div>
<% end %>
