<h1><%=t('admin.locations.show.title')%></h1>

<%= link_to t('admin.buttons.edit'), edit_admin_location_path(@location), :class => 'button radius tiny secondary' %>
<%= link_to t('admin.buttons.back'), admin_locations_path, :class => 'button radius tiny ' %>


<p>
  <strong><%=t('activerecord.attributes.locations.main_image')%>:</strong>
  <%= image_tag @location.main_image(:medium) %>
</p>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1"><%=t('admin.language.fr')%></a></li>
  <li class="tab-title"><a href="#panel2"><%=t('admin.language.en')%></a></li>
</ul>

<div class="tabs-content">

  <div class="content contained active" id="panel1">

    <table>
      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.locations.name_fr')%>:</strong></td>
        <td class="cell2"><%= @location.name_fr %></td>
      </tr>
      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.locations.description_fr')%>:</strong></td>
        <td class="cell2"><%= @location.description_fr %></td>
      </tr>
    </table>

  </div>

  <div class="content contained" id="panel2">

    <table>
      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.locations.name_en')%>:</strong></td>
        <td class="cell2"><%= @location.name_en %></td>
      </tr>
      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.locations.description_en')%>:</strong></td>
        <td class="cell2"><%= @location.description_en %></td>
      </tr>
    </table>

  </div>

</div>

<%= link_to t('admin.buttons.edit'), edit_admin_location_path(@location), :class => 'button radius tiny secondary' %>
<%= link_to t('admin.buttons.back'), admin_locations_path, :class => 'button radius tiny ' %>

<div class="projects">
  <h1><%=t('admin.projects.index.title')%></h1>

  <%= link_to t('admin.buttons.new'), new_admin_project_path(:location_id => @location.id), :class => 'button radius tiny success' %>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th><%=t('activerecord.attributes.albums.name_fr')%></th>
          <th><%=t('activerecord.attributes.albums.name_en')%></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @projects.each do |project| %>
            <tr>
              <td><%= project.name_fr %></td>
              <td><%= project.name_en %></td>
              <td><%= link_to t('admin.buttons.show'), admin_project_path(project), :class => 'button radius tiny info' %></td>
              <td><%= link_to t('admin.buttons.edit'), edit_admin_project_path(project), :class => 'button radius tiny secondary' %></td>
              <td><%= link_to t('admin.buttons.delete'), admin_project_delete_path(project), :class => 'button radius tiny alert' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</div>