<h1>Location Show View</h1>

<%= link_to 'Edit', edit_admin_location_path(@location), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_locations_path, :class => 'button radius tiny ' %>

<p>
  <strong>Name_fr:</strong>
  <%= @location.name_fr %>
</p>

<p>
  <strong>Name_en:</strong>
  <%= @location.name_en %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @location.main_image(:medium) %>
</p>

<p>
  <strong>Description_fr:</strong>
  <%= @location.description_fr %>
</p>

<p>
  <strong>Description_en:</strong>
  <%= @location.description_en %>
</p>

<%= link_to 'Edit', edit_admin_location_path(@location), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_locations_path, :class => 'button radius tiny ' %>

<div class="projects">
  <h1>Projects List</h1>

  <%= link_to 'New', new_admin_project_path(:location_id => @location.id), :class => 'button radius tiny success' %>

  <table class="small-12 columns">
    <thead>
    <tr>
      <th>Name fr</th>
      <th>Name en</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>
        <tr>
          <td><%= project.name_fr %></td>
          <td><%= project.name_en %></td>
          <td><%= link_to 'Show', admin_project_path(project), :class => 'button radius tiny info' %></td>
          <td><%= link_to 'Edit', edit_admin_project_path(project), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to 'Delete', admin_project_delete_path(project), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>