<h1>Location Show View</h1>

<%= link_to 'Edit', edit_admin_location_path(@location), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_locations_path, :class => 'button radius tiny ' %>


<p>
  <strong>Image:</strong>
  <%= image_tag @location.main_image(:medium) %>
</p>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Francais</a></li>
  <li class="tab-title"><a href="#panel2">Anglais</a></li>
</ul>

<div class="tabs-content">

  <div class="content contained active" id="panel1">

    <table>
      <tr>
        <td class="cell1"><strong>Name_fr:</strong></td>
        <td class="cell2"><%= @location.name_fr %></td>
      </tr>
      <tr>
        <td class="cell1"><strong>Description_fr:</strong></td>
        <td class="cell2"><%= @location.description_fr %></td>
      </tr>
    </table>

  </div>

  <div class="content contained" id="panel2">

    <table>
      <tr>
        <td class="cell1"><strong>Name_en:</strong></td>
        <td class="cell2"><%= @location.name_en %></td>
      </tr>
      <tr>
        <td class="cell1"><strong>Description_en:</strong></td>
        <td class="cell2"><%= @location.description_en %></td>
      </tr>
    </table>

  </div>

</div>

<%= link_to 'Edit', edit_admin_location_path(@location), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_locations_path, :class => 'button radius tiny ' %>

<div class="projects">
  <h1>Projects List</h1>

  <%= link_to 'New', new_admin_project_path(:location_id => @location.id), :class => 'button radius tiny success' %>

  <table class="small-12 columns">
    <thead>
    <tr>
      <th>Name fr</th>
      <th>Name en</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>
        <tr>
          <td><%= project.name_fr %></td>
          <td><%= project.name_en %></td>
          <td><%= link_to 'Show', admin_project_path(project), :class => 'button radius tiny info' %></td>
          <td><%= link_to 'Edit', edit_admin_project_path(project), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to 'Delete', admin_project_delete_path(project), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>