<h1>Album Delete View</h1>

<%= link_to 'Delete', admin_album_destroy_path(:id => @album.id), :class => 'button radius tiny alert' %>
<%= link_to 'Edit', edit_admin_album_path(@album), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_albums_path, :class => 'button radius tiny' %>

<p>
  <strong>Image:</strong>
  <%= image_tag @album.main_image(:medium) %>
</p>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Francais</a></li>
  <li class="tab-title"><a href="#panel2">Anglais</a></li>
</ul>

<div class="tabs-content">

  <div class="content contained active" id="panel1">

    <table>
      <tr>
        <td class="cell1"><strong>Name_fr:</strong></td>
        <td class="cell2"><%= @album.name_fr %></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell1"><strong>Description_fr:</strong></td>
        <td class="cell2"><%= @album.description_fr %></td>
      </tr>
    </table>

  </div>

  <div class="content contained" id="panel2">

    <table>
      <tr>
        <td class="cell1"><strong>Name_en:</strong></td>
        <td class="cell2"><%= @album.name_en %></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell1"><strong>Description_en:</strong></td>
        <td class="cell2"><%= @album.description_en %></td>
      </tr>
    </table>

  </div>

</div>

<%= link_to 'Delete', admin_album_destroy_path(:id => @album.id), :class => 'button radius tiny alert' %>
<%= link_to 'Edit', edit_admin_album_path(@album), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_albums_path, :class => 'button radius tiny' %>