<div class="table-container">
  <h1><%=t('admin.albums.index.title')%></h1>
  <%= link_to t('admin.buttons.new'), new_admin_album_path, :class => 'button radius tiny success' %>
  <table>
    <thead>
    <tr>
      <th><%=t('activerecord.attributes.albums.name_fr')%></th>
      <th><%=t('activerecord.attributes.albums.name_en')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @albums.each do |album| %>
        <tr>
          <td><%= album.name_fr %></td>
          <td><%= album.name_en %></td>
          <td><%= link_to t('admin.buttons.show'), admin_album_path(album), :class => 'button radius tiny info' %></td>
          <td><%= link_to t('admin.buttons.edit'), edit_admin_album_path(album), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to t('admin.buttons.delete'), admin_album_delete_path(album), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>