<div class="resume upload row">
  <h1><%=t('admin.resume.index.upload')%></h1>
  <div class="cv-fr small-6 columns">
    <% if @file_modified_fr%>
        <p>Le dernier fichier à été uploadé le <%= @file_modified_fr.strftime("%d-%m-%Y") %> à <%= @file_modified_fr.strftime("%H:%M") %> </p>
    <% end %>
    <%= form_tag(admin_resume_upload_path, :multipart => true) do %>
        <div class="field">
          <%= label_tag t('admin.language.fr') %>
          <%= file_field_tag :file %>
          <%= hidden_field_tag "lang", "fr"%>
        </div>
        <div class="actions">
          <%= submit_tag t('admin.buttons.save'), :class => "button radius tiny info" %>
        </div>
    <% end %>
  </div>

  <div class="cv-en small-6 columns">
    <% if @file_modified_en%>
        <p>Le dernier fichier à été uploadé le <%= @file_modified_en.strftime("%d-%m-%Y") %> à <%= @file_modified_en.strftime("%H:%M") %> </p>
    <% end %>
    <%= form_tag(admin_resume_upload_path, :multipart => true) do %>
        <div class="field">
          <%= label_tag t('admin.language.en') %>
          <%= file_field_tag :file %>
          <%= hidden_field_tag "lang", "en"%>
        </div>
        <div class="actions">
          <%= submit_tag t('admin.buttons.save'), :class => "button radius tiny info" %>
        </div>
    <% end %>
  </div>
</div>


<div class="table-container">
  <h1><%=t('admin.cursus.index.title')%></h1>
  <%= link_to t('admin.buttons.new'), new_admin_cursu_path, :class => 'button radius tiny success' %>
  <table>
    <thead>
    <tr>
      <th><%=t('activerecord.attributes.cursus.startdate')%></th>
      <th><%=t('activerecord.attributes.cursus.enddate')%></th>
      <th><%=t('activerecord.attributes.cursus.school')%></th>
      <th><%=t('activerecord.attributes.cursus.location_fr')%></th>
      <th><%=t('activerecord.attributes.cursus.location_en')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @cursus.each do |cursu| %>
        <tr>
          <td><%= cursu.start_date %></td>
          <td><%= cursu.end_date %></td>
          <td><%= cursu.school %></td>
          <td><%= cursu.location_fr %></td>
          <td><%= cursu.location_en %></td>
          <td><%= link_to t('admin.buttons.show'), admin_cursu_path(cursu), :class => 'button radius tiny info' %></td>
          <td><%= link_to t('admin.buttons.edit'), edit_admin_cursu_path(cursu), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to t('admin.buttons.delete'), admin_cursu_delete_path(cursu), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="separator small-12 columns">
  <div class="mask"></div>
</div>

<div class="table-container">
  <h1><%=t('admin.experience.index.title')%></h1>
  <%= link_to t('admin.buttons.new'), new_admin_experience_path, :class => 'button radius tiny success' %>
  <table>
    <thead>
    <tr>
      <th><%=t('activerecord.attributes.professional_experiences.startdate')%></th>
      <th><%=t('activerecord.attributes.professional_experiences.enddate')%></th>
      <th><%=t('activerecord.attributes.professional_experiences.company')%></th>
      <th><%=t('activerecord.attributes.professional_experiences.location_fr')%></th>
      <th><%=t('activerecord.attributes.professional_experiences.location_en')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @professional_experiences.each do |professional_experience| %>
        <tr>
          <td><%= professional_experience.start_date %></td>
          <td><%= professional_experience.end_date %></td>
          <td><%= professional_experience.company %></td>
          <td><%= professional_experience.location_fr %></td>
          <td><%= professional_experience.location_en %></td>
          <td><%= link_to t('admin.buttons.show'), admin_experience_path(professional_experience), :class => 'button radius tiny info' %></td>
          <td><%= link_to t('admin.buttons.edit'), edit_admin_experience_path(professional_experience), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to t('admin.buttons.delete'), admin_experience_delete_path(professional_experience), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


<div class="separator small-12 columns">
  <div class="mask"></div>
</div>

<div class="table-container">
  <h1><%=t('admin.skills.index.title')%></h1>
  <%= link_to t('admin.buttons.new'), new_admin_skill_path, :class => 'button radius tiny success' %>
  <table>
    <thead>
    <tr>
      <th><%=t('activerecord.attributes.skills.description_fr')%></th>
      <th><%=t('activerecord.attributes.skills.description_en')%></th>
      <td><%=t('activerecord.attributes.skills.rank')%></td>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.description_fr.html_safe %></td>
          <td><%= skill.description_en.html_safe %></td>

          <% case skill.rank %>
            <% when 1 %>
              <td><%= image_tag "rank/1.png", :class => "no-border rank-display"%></td>
            <% when 2 %>
              <td><%= image_tag "rank/2.png", :class => "no-border rank-display" %></td>
            <% when 3 %>
              <td><%= image_tag "rank/3.png", :class => "no-border rank-display" %></td>
            <% when 4 %>
              <td><%= image_tag "rank/4.png", :class => "no-border rank-display" %></td>
            <% when 5 %>
              <td><%= image_tag "rank/5.png", :class => "no-border rank-display" %></td>
          <%end%>

          <td><%= link_to t('admin.buttons.show'), admin_skill_path(skill), :class => 'button radius tiny info' %></td>
          <td><%= link_to t('admin.buttons.edit'), edit_admin_skill_path(skill), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to t('admin.buttons.delete'), admin_skill_delete_path(skill), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>