
<div class="table-container">
  <h1><%=t('admin.cursus.index.title')%></h1>
  <%= link_to t('admin.buttons.new'), new_admin_cursu_path, :class => 'button radius tiny success' %>
  <table>
    <thead>
    <tr>
      <th><%=t('activerecord.attributes.cursus.date')%></th>
      <th><%=t('activerecord.attributes.cursus.school')%></th>
      <th><%=t('activerecord.attributes.cursus.location_fr')%></th>
      <th><%=t('activerecord.attributes.cursus.location_en')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @cursus.each do |cursu| %>
        <tr>
          <td><%= cursu.date %></td>
          <td><%= cursu.school %></td>
          <td><%= cursu.location_fr %></td>
          <td><%= cursu.location_en %></td>
          <td><%= link_to t('admin.buttons.show'), admin_cursu_path(cursu), :class => 'button radius tiny info' %></td>
          <td><%= link_to t('admin.buttons.edit'), edit_admin_cursu_path(cursu), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to t('admin.buttons.delete'), admin_cursu_delete_path(cursu), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="separator small-12 columns">
  <div class="mask"></div>
</div>

<div class="table-container">
  <h1><%=t('admin.experience.index.title')%></h1>
  <%= link_to t('admin.buttons.new'), new_admin_experience_path, :class => 'button radius tiny success' %>
  <table>
    <thead>
    <tr>
      <th><%=t('activerecord.attributes.professional_experiences.date')%></th>
      <th><%=t('activerecord.attributes.professional_experiences.company')%></th>
      <th><%=t('activerecord.attributes.professional_experiences.location_fr')%></th>
      <th><%=t('activerecord.attributes.professional_experiences.location_en')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @professional_experiences.each do |professional_experience| %>
        <tr>
          <td><%= professional_experience.date %></td>
          <td><%= professional_experience.company %></td>
          <td><%= professional_experience.location_fr %></td>
          <td><%= professional_experience.location_en %></td>
          <td><%= link_to t('admin.buttons.show'), admin_experience_path(professional_experience), :class => 'button radius tiny info' %></td>
          <td><%= link_to t('admin.buttons.edit'), edit_admin_experience_path(professional_experience), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to t('admin.buttons.delete'), admin_experience_delete_path(professional_experience), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


<div class="separator small-12 columns">
  <div class="mask"></div>
</div>

<div class="table-container">
  <h1><%=t('admin.skills.index.title')%></h1>
  <%= link_to t('admin.buttons.new'), new_admin_skill_path, :class => 'button radius tiny success' %>
  <table>
    <thead>
    <tr>
      <th><%=t('activerecord.attributes.skills.description_fr')%></th>
      <th><%=t('activerecord.attributes.skills.description_en')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.description_fr.html_safe %></td>
          <td><%= skill.description_en.html_safe %></td>
          <td><%= link_to t('admin.buttons.show'), admin_skill_path(skill), :class => 'button radius tiny info' %></td>
          <td><%= link_to t('admin.buttons.edit'), edit_admin_skill_path(skill), :class => 'button radius tiny secondary' %></td>
          <td><%= link_to t('admin.buttons.delete'), admin_skill_delete_path(skill), :class => 'button radius tiny alert' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>