
<div class="box">
  <h1>Cursus</h1>
  <%= link_to 'New', new_admin_cursu_path %>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>School</th>
      <th>location_fr</th>
      <th>location_en</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @cursus.each do |cursu| %>
        <tr>
          <td><%= cursu.date %></td>
          <td><%= cursu.school %></td>
          <td><%= cursu.location_fr %></td>
          <td><%= cursu.location_en %></td>
          <td><%= link_to 'Show', admin_cursu_path(cursu) %></td>
          <td><%= link_to 'Edit', edit_admin_cursu_path(cursu) %></td>
          <td><%= link_to 'Delete', admin_cursu_delete_path(cursu) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="box">
  <h1>Professional Experience</h1>
  <%= link_to 'New', new_admin_experience_path %>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>School</th>
      <th>location_fr</th>
      <th>location_en</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @professional_experiences.each do |professional_experience| %>
        <tr>
          <td><%= professional_experience.date %></td>
          <td><%= professional_experience.company %></td>
          <td><%= professional_experience.location_fr %></td>
          <td><%= professional_experience.location_en %></td>
          <td><%= link_to 'Show', admin_experience_path(professional_experience) %></td>
          <td><%= link_to 'Edit', edit_admin_experience_path(professional_experience) %></td>
          <td><%= link_to 'Delete', admin_experience_delete_path(professional_experience) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="box">
  <h1>Skills</h1>
  <%= link_to 'New', new_admin_skill_path %>
  <table>
    <thead>
    <tr>
      <th>description_fr</th>
      <th>description_en</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.description_fr %></td>
          <td><%= skill.description_en %></td>
          <td><%= link_to 'Show', admin_skill_path(skill) %></td>
          <td><%= link_to 'Edit', edit_admin_skill_path(skill) %></td>
          <td><%= link_to 'Delete', admin_skill_delete_path(skill) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>