<h1><%=t('admin.experience.edit.title')%></h1>

<% if @experience.errors.any? %>
    <div class="error_explanation small-8 small-centered columns">
      <h6><%= @experience.errors.count %> <%=t('admin.forms.message.error')%> :</h6>

      <ul>
        <% @experience.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@experience, url: admin_experience_path) do |f| %>

    <div class="date">
      <%= f.label t('activerecord.attributes.professional_experiences.startdate')%>
      <%= f.text_field :start_date, :class => 'datepicker' %>
    </div>

    <div class="date">
      <%= f.label t('activerecord.attributes.professional_experiences.enddate')%>
      <%= f.text_field :end_date, :class => 'datepicker' %>
    </div>

    <div class="company">
      <%= f.label t('activerecord.attributes.professional_experiences.company')%>
      <%= f.text_field :company %>
    </div>

    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel1"><%=t('admin.language.fr')%></a></li>
      <li class="tab-title"><a href="#panel2"><%=t('admin.language.en')%></a></li>
    </ul>

    <div class="tabs-content">

      <div class="content contained active" id="panel1">

        <table>
          <tr>
            <td class="cell1"><%= f.label t('activerecord.attributes.professional_experiences.location_fr')%></td>
            <td class="cell2"><%= f.text_field :location_fr %></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="separator small-12 columns">
                <div class="mask-small"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="cell1"><%= f.label t('activerecord.attributes.professional_experiences.description_fr')%></td>
            <td class="cell2"><%= f.text_area :description_fr, :class => 'ckeditor' %></td>
          </tr>
        </table>

      </div>

      <div class="content contained" id="panel2">

        <table>
          <tr>
            <td class="cell1"><%= f.label t('activerecord.attributes.professional_experiences.location_en')%></td>
            <td class="cell2"><%= f.text_field :location_en%></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="separator small-12 columns">
                <div class="mask-small"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="cell1"><%= f.label t('activerecord.attributes.professional_experiences.description_en')%></td>
            <td class="cell2"><%= f.text_area :description_en, :class => 'ckeditor' %></td>
          </tr>
        </table>

      </div>

    </div>

    <div class="submit">
      <%= f.submit t('admin.buttons.save'), :class => 'button radius tiny info' %>
    </div>
<% end %>
