<div class="admin_nav small-12 small-centered columns">
  <%= image_tag "admin/logo.png", :class => 'admin_logo no-border' %>

  <%= link_to t('admin.layout.nav.about'), controller: "about", action: "show" %>
  <%= link_to t('admin.layout.nav.resume'), controller: "resume", action: "index" %>
  <%= link_to t('admin.layout.nav.book'), controller: "locations", action: "index" %>
  <%= link_to t("admin.layout.nav.perso"), admin_perso_projects_path %>
  <%= link_to t('admin.layout.nav.albums'), controller: "albums", action: "index" %>
  <%= link_to t('admin.layout.nav.contact'), admin_contact_path %>

  <div class="nav-right">
    <a href="#" class="button tiny radius" data-dropdown="drop"><%=t('admin.language.lang')%> &raquo;</a>
    <ul id="drop" class=" tiny f-dropdown" data-dropdown-content>
    <li><%= link_to t('admin.language.fr'), change_locale_path(:fr) %></li>
    <li><%= link_to t('admin.language.en'), change_locale_path(:en) %></li>
    </ul>

    <%= link_to t('admin.layout.session.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>