<div class="app_nav small-12 small-centered columns">
  <%= link_to image_tag("admin/logo.png", :class => 'app_logo no-border'), root_path %>

  <%= link_to t('app.layout.nav.about'), about_path %>
  <%= link_to t('app.layout.nav.book'), book_path %>
  <%= link_to t('app.layout.nav.resume'), resume_path %>
  <%= link_to t('app.layout.nav.photos'), photos_path %>

  <div class="nav-right">
    <a href="#" class="button tiny radius" data-dropdown="drop"><%=t('admin.language.lang')%> &raquo;</a>
    <ul id="drop" class=" tiny f-dropdown" data-dropdown-content>
      <li><%= link_to t('admin.language.fr'), change_locale_path(:fr) %></li>
      <li><%= link_to t('admin.language.en'), change_locale_path(:en) %></li>
    </ul>
  </div>

  <div class="page-title small-5">
    <span><%= @page_title %></span>
  </div>
</div>
