<div class="app_nav small-12 small-centered columns" data-no-turbolink>
  <%= link_to image_tag("admin/logo.png", :class => 'app_logo no-border'), root_path %>

  <%= link_to t('app.layout.nav.about'), about_path %>
  <%= link_to t('app.layout.nav.book'), book_path %>
  <%= link_to t('app.layout.nav.resume'), resume_path %>
  <%= link_to t('app.layout.nav.perso'), perso_projects_path %>
  <%= link_to t('app.layout.nav.photos'), photos_path %>
  <%= link_to t('app.layout.nav.contact'), contacts_path %>

  <div class="nav-right">
    <%= link_to image_tag('flags/french.png', :alt => t('admin.language.fr'), :class => 'lang_thumb'), change_locale_path(:fr) %>
    <%= link_to image_tag('flags/english.png', :alt => t('admin.language.en'), :class => 'lang_thumb'), change_locale_path(:en) %>
  </div>

  <div class="page-title small-5">
    <span><%= @page_title %></span>
    <% if params[:controller] == 'resume' %>
          <% if @lang == :fr && File.exist?( Rails.root + "public/files/CV - Audrey LEPERS-TASSY.pdf")%> <!-- location language handling -->
              <%= link_to image_tag("download/download.png", :class => "download-icon" ), '/files/CV - Audrey LEPERS-TASSY.pdf', { target: '_blank', :class => "download-link" } %>
          <% elsif @lang == :en && File.exist?( Rails.root + "public/files/resume - Audrey LEPERS-TASSY.pdf") %>
              <%= link_to image_tag("download/download.png", :class => "download-icon" ), '/files/resume - Audrey LEPERS-TASSY.pdf', { target: '_blank', :class => "download-link" } %>
          <% end %>
    <% end %>
  </div>
</div>
