



<div class="row">
  <div class="small-12 small-centered columns resume-section">
    <span><%=t('app.resume.cursus')%></span>
    <% @cursus.each do |cursu|%>
        <div>
          <div>
              <div class="resume-date">
                  <span><%=cursu.start_date.strftime("%Y")%></span>
                  <% if cursu.end_date%>
                    - <span><%=cursu.end_date.strftime("%Y")%></span>
                  <% end %>
              </div>
              <div class="resume-location">
                  <span class="blue bold">///</span>
                  <span><%=cursu.school.html_safe%></span>
                  -
                  <span>
                      <% if @lang == :fr %> <!-- location language handling -->
                          <%= cursu.location_fr ? cursu.location_fr.html_safe : '' %>
                      <% else %>
                          <%= cursu.location_en ? cursu.location_en.html_safe : '' %>
                      <% end %>
                  </span>
              </div>
          </div>

          <div class="resume-desc">
            <% if @lang == :fr %> <!-- description language handling -->
                <%= cursu.description_fr ? cursu.description_fr.html_safe : '' %>
            <% else %>
                <%= cursu.description_en ? cursu.description_en.html_safe : '' %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns resume-section">
    <span><%=t('app.resume.experience')%></span>
    <% @professional_experiences.each do |exp|%>
        <div>
          <div>
              <div class="resume-date">
                  <span><%=exp.start_date.strftime("%Y")%></span>
                  <% if exp.end_date%>
                      - <span><%=exp.end_date.strftime("%Y")%></span>
                  <% end %>
              </div>
              <div class="resume-location">
                  <span class="blue bold">///</span>
                  <span><%=exp.company.html_safe%></span>
                  -
                  <span>
                      <% if @lang == :fr %> <!-- location language handling -->
                        <%= exp.location_fr ? exp.location_fr.html_safe : '' %>
                      <% else %>
                          <%= exp.location_en ? exp.location_en.html_safe : '' %>
                      <% end %>
                  </span>
              </div>
          </div>

          <div class="resume-desc">
            <% if @lang == :fr %> <!-- description language handling -->
                <%= exp.description_fr ? exp.description_fr.html_safe : '' %>
            <% else %>
                <%= exp.description_en ? exp.description_en.html_safe : '' %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns resume-section">
    <span><%=t('app.resume.skills')%></span>
    <table class="no-border">
        <% @skills.each do |skill|%>

              <tr style="background: none">
                <td>
                  <% if @lang == :fr %> <!-- description language handling -->
                      <%= skill.description_fr ? skill.description_fr.html_safe : '' %>
                  <% else %>
                      <%= skill.description_en ? skill.description_en.html_safe : '' %>
                  <% end %>
                </td>

                <td>
                  <% case skill.rank %>
                    <% when 1 %>
                        <%= image_tag "rank/1.png", :class => "no-border rank-display"%>
                    <% when 2 %>
                        <%= image_tag "rank/2.png", :class => "no-border rank-display" %>
                    <% when 3 %>
                        <%= image_tag "rank/3.png", :class => "no-border rank-display" %>
                    <% when 4 %>
                        <%= image_tag "rank/4.png", :class => "no-border rank-display" %>
                    <% when 5 %>
                        <%= image_tag "rank/5.png", :class => "no-border rank-display" %>
                  <%end%>
                </td>
              </tr>
        <% end %>
    </table>
  </div>
