<h1><%=t('admin.projects.delete.title')%></h1>

<%= link_to t('admin.buttons.delete'), admin_project_destroy_path(:id => @project.id), :class => 'button radius tiny alert' %>
<%= link_to t('admin.buttons.edit'), edit_admin_project_path(@project), :class => 'button radius tiny secondary' %>
<%= link_to t('admin.buttons.back'), edit_admin_location_path(:id => @project.location_id), :class => 'button radius tiny' %>

<p>
  <strong><%=t('activerecord.attributes.albums.main_image')%>:</strong>
  <%= image_tag @project.main_image(:medium) %>
</p>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1"><%=t('admin.language.fr')%></a></li>
  <li class="tab-title"><a href="#panel2"><%=t('admin.language.en')%></a></li>
</ul>

<div class="tabs-content">

  <div class="content contained active" id="panel1">

    <table>
      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.albums.name_fr')%>:</strong></td>
        <td class="cell2"><%= @project.name_fr %></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.albums.description_fr')%>:</strong></td>
        <td class="cell2"><%= @project.description_fr %></td>
      </tr>
    </table>

  </div>

  <div class="content contained" id="panel2">

    <table>
      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.albums.name_en')%>:</strong></td>
        <td class="cell2"><%= @project.name_en %></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.albums.description_en')%>:</strong></td>
        <td class="cell2"><%= @project.description_en %></td>
      </tr>
    </table>

  </div>

</div>

<%= link_to t('admin.buttons.delete'), admin_project_destroy_path(:id => @project.id), :class => 'button radius tiny alert' %>
<%= link_to t('admin.buttons.edit'), edit_admin_project_path(@project), :class => 'button radius tiny secondary' %>
<%= link_to t('admin.buttons.back'), edit_admin_location_path(:id => @project.location_id), :class => 'button radius tiny' %>