<h1>Project Show View</h1>

<%= link_to 'Edit', edit_admin_project_path(@project), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', edit_admin_location_path(:id => @project.location_id), :class => 'button radius tiny ' %>
<%= link_to 'Add Photos', new_admin_photo_path(:album_id => @project.id), :class => 'button radius tiny success' %>

<p>
  <strong>Name_fr:</strong>
  <%= @project.name_fr %>
</p>

<p>
  <strong>Name_en:</strong>
  <%= @project.name_en %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @project.main_image(:medium) %>
</p>

<p>
  <strong>Description_fr:</strong>
  <%= @project.description_fr %>
</p>

<p>
  <strong>Description_en:</strong>
  <%= @project.description_en %>
</p>

<%= link_to 'Edit', edit_admin_project_path(@project), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', edit_admin_location_path(:id => @project.location_id), :class => 'button radius tiny ' %>
<%= link_to 'Add Photos', new_admin_photo_path(:album_id => @project.id), :class => 'button radius tiny success' %>