<h1>Cursus Delete View</h1>

<%= link_to 'Delete', admin_cursu_destroy_path(:id => @cursu.id), :class => 'button radius tiny alert' %>
<%= link_to 'Edit', edit_admin_cursu_path(@cursu), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_resume_index_path, :class => 'button radius tiny' %>

<p>
  <strong>Date:</strong>
  <%= @cursu.date %>
</p>

<p>
  <strong>School:</strong>
  <%= @cursu.school %>
</p>

<p>
  <strong>Location_fr:</strong>
  <%= @cursu.location_fr %>
</p>

<p>
  <strong>Location_en:</strong>
  <%= @cursu.location_en %>
</p>

<p>
  <strong>Description_fr:</strong>
  <%= @cursu.description_fr %>
</p>

<p>
  <strong>Description_en:</strong>
  <%= @cursu.description_en %>
</p>

<%= link_to 'Delete', admin_cursu_destroy_path(:id => @cursu.id), :class => 'button radius tiny alert' %>
<%= link_to 'Edit', edit_admin_cursu_path(@cursu), :class => 'button radius tiny secondary' %>
<%= link_to 'Back', admin_resume_index_path, :class => 'button radius tiny' %>
