<h1><%=t('admin.cursus.delete.title')%></h1>

<%= link_to t('admin.buttons.delete'), admin_cursu_destroy_path(:id => @cursu.id), :class => 'button radius tiny alert' %>
<%= link_to t('admin.buttons.edit'), edit_admin_cursu_path(@cursu), :class => 'button radius tiny secondary' %>
<%= link_to t('admin.buttons.back'), admin_resume_index_path, :class => 'button radius tiny' %>

<p>
  <strong><%=t('activerecord.attributes.cursus.date')%>:</strong>
  <%= @cursu.date %>
</p>

<p>
  <strong><%=t('activerecord.attributes.cursus.school')%>:</strong>
  <%= @cursu.school.html_safe %>
</p>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1"><%=t('admin.language.fr')%></a></li>
  <li class="tab-title"><a href="#panel2"><%=t('admin.language.en')%></a></li>
</ul>

<div class="tabs-content">

  <div class="content contained active" id="panel1">

    <table>
      <tr>
        <td><strong><%=t('activerecord.attributes.cursus.location_fr')%>:</strong></td>
        <td><%= @cursu.location_fr.html_safe %></td>
      </tr>

      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>

      <tr>
        <td><strong><%=t('activerecord.attributes.cursus.description_fr')%>:</strong></td>
        <td><%= @cursu.description_fr.html_safe %></td>
      </tr>
    </table>

  </div>

  <div class="content contained" id="panel2">

    <table>
      <tr>
        <td><strong><%=t('activerecord.attributes.cursus.location_en')%>:</strong></td>
        <td><%= @cursu.location_en.html_safe %></td>
      </tr>

      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>

      <tr>
        <td><strong><%=t('activerecord.attributes.cursus.description_en')%>:</strong></td>
        <td><%= @cursu.description_en.html_safe %></td>
      </tr>
    </table>

  </div>

</div>

<%= link_to t('admin.buttons.delete'), admin_cursu_destroy_path(:id => @cursu.id), :class => 'button radius tiny alert' %>
<%= link_to t('admin.buttons.edit'), edit_admin_cursu_path(@cursu), :class => 'button radius tiny secondary' %>
<%= link_to t('admin.buttons.back'), admin_resume_index_path, :class => 'button radius tiny' %>
