<h1>New cursus entry</h1>

<% if @cursu.errors.any? %>
    <div class="error_explanation small-8 small-centered columns">
      <h6><%= pluralize(@cursu.errors.count, "erreur") %> sont apparues :</h6>

      <ul>
        <% @cursu.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@cursu, url: admin_cursus_path) do |f| %>

    <div class="date">
      <%= f.label :date%>
      <%= f.text_field :date, :class => 'datepicker' %>
    </div>

    <div class="school">
      <%= f.label :school%>
      <%= f.text_field :school %>
    </div>

    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel1">Francais</a></li>
      <li class="tab-title"><a href="#panel2">Anglais</a></li>
    </ul>

    <div class="tabs-content">

      <div class="content contained active" id="panel1">

        <table>
          <tr>
            <td><%= f.label :location_fr%></td>
            <td><%= f.text_field :location_fr %></td>
          </tr>

          <tr>
            <td colspan="2">
              <div class="separator small-12 columns">
                <div class="mask-small"></div>
              </div>
            </td>
          </tr>

          <tr>
            <td><%= f.label :description_fr%></td>
            <td><%= f.text_area :description_fr, :class => 'ckeditor' %></td>
          </tr>
        </table>

      </div>

      <div class="content contained" id="panel2">

        <table>
          <tr>
            <td><%= f.label :location_en%></td>
            <td><%= f.text_field :location_en%></td>
          </tr>

          <tr>
            <td colspan="2">
              <div class="separator small-12 columns">
                <div class="mask-small"></div>
              </div>
            </td>
          </tr>

          <tr>
            <td><%= f.label :description_en%></td>
            <td><%= f.text_area :description_en, :class => 'ckeditor' %></td>
          </tr>
        </table>

      </div>

    </div>

    <div class="submit">
      <%= f.submit :class => 'button radius tiny info' %>
    </div>
<% end %>