<div class="map-img row">
  <%= image_tag 'about/map.jpg', class: 'no-border' %>
</div>

<div class="row">
  <div class="small-12 small-centered columns about-section">
    <span><%=t('app.about.about')%></span>
    <p><%=@about_text.html_safe%></p>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns about-section">
    <span><%=t('app.about.career')%></span>
    <p><%=@career_text.html_safe%></p>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns about-section">
    <span><%=t('app.about.interests')%></span>
    <p><%=@interests_text.html_safe%></p>
  </div>
</div>