<% if @about.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@about.errors.count, "error") %> <%=t('admin.forms.message.error')%> :</h2>

      <ul>
        <% @about.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for :about do |f| %>

    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel1"><%=t('admin.language.fr')%></a></li>
      <li class="tab-title"><a href="#panel2"><%=t('admin.language.en')%></a></li>
    </ul>

    <div class="tabs-content">

      <div class="content contained active" id="panel1">

        <table>
          <tr>
            <td class="cell1"><%= f.label :about_fr%></td>
            <td class="cell2"><%= f.text_area :about_fr, :class => 'ckeditor' %></td>
          </tr>

          <tr>
            <td colspan="2">
              <div class="separator small-12 columns">
                <div class="mask-small"></div>
              </div>
            </td>
          </tr>

          <tr>
            <td class="cell1"><%= f.label :career_fr%></td>
            <td class="cell2"><%= f.text_area :career_fr, :class => 'ckeditor' %></td>
          </tr>

          <tr>
            <td colspan="2">
              <div class="separator small-12 columns">
                <div class="mask-small"></div>
              </div>
            </td>
          </tr>

          <tr>
            <td class="cell1"><%= f.label :interests_fr%></td>
            <td class="cell2"><%= f.text_area :interests_fr, :class => 'ckeditor' %></td>
          </tr>
        </table>

      </div>

      <div class="content contained" id="panel2">

        <table>
          <tr>
            <td class="cell1"><%= f.label :about_en%></td>
            <td class="cell2"><%= f.text_area :about_en, :class => 'ckeditor' %></td>
          </tr>

          <tr>
            <td colspan="2">
              <div class="separator small-12 columns">
                <div class="mask-small"></div>
              </div>
            </td>
          </tr>

          <tr>
            <td class="cell1"><%= f.label :career_en%></td>
            <td class="cell2"><%= f.text_area :career_en, :class => 'ckeditor' %></td>
          </tr>

          <tr>
            <td colspan="2">
              <div class="separator small-12 columns">
                <div class="mask-small"></div>
              </div>
            </td>
          </tr>

          <tr>
            <td class="cell1"><%= f.label :interests_en%></td>
            <td class="cell2"><%= f.text_area :interests_en, :class => 'ckeditor' %></td>
          </tr>
        </table>

      </div>

    </div>

    <div class="submit">
      <%= f.submit t('admin.buttons.save'), :class => 'button radius tiny info' %>
    </div>
<% end %>