<h1><%=t('admin.about.show.title')%></h1>

<%= link_to t('admin.buttons.edit'), edit_admin_about_path(@about), :class => 'button radius tiny secondary' %>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1"><%=t('admin.language.fr')%></a></li>
  <li class="tab-title"><a href="#panel2"><%=t('admin.language.en')%></a></li>
</ul>

<div class="tabs-content">

  <div class="content contained active" id="panel1">

    <table>
        <tr>
          <td class="cell1"><strong><%=t('activerecord.attributes.about.about_fr')%>:</strong></td>
          <td class="cell2"><%= @about.about_fr.html_safe %></td>
        </tr>

      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>


        <tr>
          <td class="cell1"><strong><%=t('activerecord.attributes.about.career_fr')%>:</strong></td>
          <td class="cell2"><%= @about.career_fr.html_safe %></td>
        </tr>

      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>

        <tr>
          <td class="cell1"><strong><%=t('activerecord.attributes.about.interests_fr')%>:</strong></td>
          <td class="cell2"><%= @about.interests_fr.html_safe %></td>
        </tr>
    </table>
  </div>


  <div class="content contained" id="panel2">
    <table>
      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.about.about_en')%>:</strong></td>
        <td class="cell2"><%= @about.about_en.html_safe %></td>
      </tr>

      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>

      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.about.career_en')%>:</strong></td>
        <td class="cell2"><%= @about.career_en.html_safe %></td>
      </tr>

      <tr>
        <td colspan="2">
          <div class="separator small-12 columns">
            <div class="mask-small"></div>
          </div>
        </td>
      </tr>

      <tr>
        <td class="cell1"><strong><%=t('activerecord.attributes.about.interests_en')%>:</strong></td>
        <td class="cell2"><%= @about.interests_en.html_safe %></td>
      </tr>
    </table>
  </div>

</div>

<%= link_to t('admin.buttons.edit'), edit_admin_about_path(@about), :class => 'button radius tiny secondary' %>