<h1>About</h1>

<p>
  <strong>about_fr:</strong>
  <%= @about.about_fr %>
</p>

<p>
  <strong>about_en:</strong>
  <%= @about.about_en %>
</p>

<p>
  <strong>career_fr:</strong>
  <%= @about.career_fr %>
</p>

<p>
  <strong>career_en:</strong>
  <%= @about.career_en %>
</p>

<p>
  <strong>interests_fr:</strong>
  <%= @about.interests_fr %>
</p>

<p>
  <strong>interests_en:</strong>
  <%= @about.interests_en %>
</p>


<%= link_to 'Edit', edit_admin_about_path(@about) %>



