<!DOCTYPE html>
<html>
<head>
  <title><%=t('admin.layout.title')%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "foundation" %>
  <%= javascript_include_tag "foundation/foundation.tab" %>
  <%= javascript_include_tag "foundation/foundation.dropdown" %>
  <%= javascript_include_tag "foundation/foundation.clearing" %>
  <%= javascript_include_tag "foundation/foundation.alert" %>

  <%= csrf_meta_tags %>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div class="admin_header">
  <div class="row">
    <%= render 'shared/adminnav' %>
  </div>
</div>

<div class="admin_body">
  <div class="row">
    <div class="small-12 small-centered columns" data-no-turbolink>
      <% flash.each do |key, value| %>
          <div class="notice alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>