<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= t('app.layout.title') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="app_header">
        <div class="row">
          <%= render 'shared/appnav' %>
        </div>
    </div>

    <div class="app-body">
      <div class="row">
        <div class="small-12 small-centered columns">
          <% flash.each do |key, value| %>
              <div class="notice alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

    <% if @photos %>
    <div id="carousselModal" class="reveal-modal" data-reveal aria-labelledby="photos" aria-hidden="true" role="dialog">
        <div class="slider">
          <% @photos.each do |p| %>
              <div><%= image_tag(p.image(:large), class: 'no-border') %></div>
          <% end %>
        </div>
    </div>
    <% end %>

  </body>
</html>
