<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= t('app.layout.title') %><%if @page_title %><%= " - " + @page_title %><%end%></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="TbEeTJCzJzwFa9xVnc5yQ85pZsBHP7wXkoMeQx__ucE" />
  </head>

  <body>

    <div class="app_header">
        <div class="row">
          <%= render 'shared/appnav' %>
        </div>
    </div>

    <div class="app-body">
      <div class="row">
        <div class="small-12 small-centered columns">
          <% flash.each do |key, value| %>
              <div class="notice alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

    <% if @photos %>
    <div id="carousselModal" class="reveal-modal" data-reveal aria-labelledby="photos" aria-hidden="true" role="dialog">
        <div class="slider">
          <% @photos.each do |p| %>
              <div><%= image_tag(p.album_image(:large), class: 'no-border') %></div>
          <% end %>
        </div>
    </div>
    <% end %>


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64540563-1', 'auto');
        ga('send', 'pageview');

    </script>

  </body>
</html>
